@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Atkinson Hyperlegible;
        src: url("../fonts/Atkinson Hyperlegible/Web Fonts/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2") format('woff2'),
            url("../fonts/Atkinson Hyperlegible/Web Fonts/WOFF/Atkinson-Hyperlegible-Regular-102.woff") format('woff'),
            url("../fonts/Atkinson Hyperlegible/Web Fonts/TTF/Atkinson-Hyperlegible-Regular-102.ttf") format('ttf'),
            url("../fonts/Atkinson Hyperlegible/Web Fonts/EOT/Atkinson-Hyperlegible-Regular-102.eot") format('eot');
        font-weight: normal;
    }
    @font-face {
        font-family: Atkinson Hyperlegible;
        src: url("../fonts/Atkinson Hyperlegible/Web Fonts/WOFF2/Atkinson-Hyperlegible-Bold-102a.woff2"),
            url("../fonts/Atkinson Hyperlegible/Web Fonts/WOFF/Atkinson-Hyperlegible-Bold-102.woff"),
            url("../fonts/Atkinson Hyperlegible/Web Fonts/TTF/Atkinson-Hyperlegible-Bold-102.ttf"),
            url("../fonts/Atkinson Hyperlegible/Web Fonts/EOT/Atkinson-Hyperlegible-Bold-102.eot");
        font-weight: bold;
    }
    html {
        @apply h-screen w-screen min-h-screen;
    }
    body {
        background-color: #121212;
        @apply text-white h-full w-full min-h-full;
    }
    h2 {
        @apply text-white font-bold;
    }
    h3 {
        @apply text-gray-200;
    }
    
}

@layer utilities {
    .inactive {
        @apply text-gray-700;
    }
    .borderLeftRight {
        display: inline-block;
        position: relative;
        color: white;
      }
      
      .borderLeftRight::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FAFF03;
        transform-origin: bottom right;
        transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
      }
      
      .borderLeftRight:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      
    
}